@font-face {
  font-family: 'icon';
  src: url(../fonts/icon.woff) format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

[class*=' icon-'],
[class^='icon-'] {
  font-family: 'icon' !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-Mortgage:before {
  content: '';
}

.icon-HomeEquity:before {
  content: '';
}

.icon-Refinance:before {
  content: '';
}

.icon-PersonalLoans:before {
  content: '';
}

.icon-ReverseMortgage:before {
  content: '';
}

.icon-CreditScore:before {
  content: '';
}

.icon-CreditCards:before {
  content: '';
}

.icon-BusinessLoans:before {
  content: '';
}

.icon-Autos:before {
  content: '';
}

.icon-AutoRefi:before {
  content: '';
}

.icon-Student:before {
  content: '';
}

.icon-StudentRefi:before {
  content: '';
}

.icon-Insurance:before {
  content: '';
}

.icon-InsuranceAuto:before {
  content: '';
}

.icon-InsuranceHome:before {
  content: '';
}

.icon-CreditRepair:before {
  content: '';
}

.icon-HomeImprovement:before {
  content: '';
}

.icon-Consolidate:before {
  content: '';
}

.icon-BalanceTransfer:before {
  content: '';
}

.icon-DollarSign:before {
  content: '';
}

.icon-Cash:before {
  content: '';
}

.icon-PiggyBank:before {
  content: '';
}

.icon-Lock:before {
  content: '';
}

.icon-ChartDown:before {
  content: '';
}

.icon-Ribbon:before {
  content: '';
}

.icon-FullCoverage:before {
  content: '';
}

.icon-Trophy:before {
  content: '';
}

.icon-MobilePhone:before {
  content: '';
}

.icon-Search:before {
  content: '';
}

.icon-ChevronDown:before {
  content: '';
}

.icon-CheckeredFlags:before {
  content: '';
}

.icon-Debt:before {
  content: '';
}

.icon-OpenBox:before {
  content: '';
}

.icon-Bank::before {
  content: '';
}

.icon-PlayButton:before {
  content: '';
}
