@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply text-dark-100 antialiased;
  }

  .preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }

  a {
    @apply transition-colors duration-200;
  }
}

/* Buttons, Forms */
@layer components {
  .btn {
    @apply inline-flex justify-center items-center rounded border border-transparent bg-secondary px-3 py-1 lg:px-6 lg:py-3 text-base text-white shadow-sm hover:bg-secondary-200 transition-colors focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2 h-9 lg:h-12 font-bold;
  }

  .btn.btn-outline {
    @apply bg-transparent text-secondary border-2 border-secondary hover:bg-secondary-200 hover:text-white hover:border-secondary-200;
  }

  .select {
    @apply block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-secondary focus:outline-none focus:ring-secondary sm:text-sm h-9 lg:h-12;
  }

  .input {
    @apply block w-full rounded-md border-gray-300 pl-10 focus:border-secondary focus:ring-secondary sm:text-sm h-9 lg:h-12;
  }
}

/* Mobile navbar */
@layer components {
  .navbar-active {
    overflow: hidden !important;
  }

  .navbar-mobile {
    @apply sticky top-0 bg-dark-200 text-white flex items-center justify-between h-14 z-10 lg:hidden;
    font-size: 15px;
  }

  .navbar-mobile-content {
    @apply absolute top-14 left-0 w-full max-w-xs bg-dark-200 h-[calc(100vh-56px)] overflow-auto py-6;
    @apply -translate-x-full will-change-auto transition-transform duration-300 ease-out flex flex-col;
    @apply shadow-xl;
  }

  .navbar-active .navbar-mobile-content {
    @apply translate-x-0;
  }

  .navbar-mobile-dropdown {
    @apply relative flex w-full items-center px-5 py-2;
  }

  .navbar-mobile-chevron {
    @apply absolute right-5 top-1/2 -translate-y-1/2;
  }

  .navbar-mobile-dropdown.active + .navbar-mobile-sub {
    @apply block;
  }

  .navbar-mobile-dropdown.active .navbar-mobile-chevron {
    @apply rotate-180;
  }

  .navbar-mobile-sub {
    @apply hidden bg-dark-300 py-3;
  }

  .navbar-mobile-link {
    @apply py-3 block pl-12 hover:text-primary;
  }

  .navbar-mobile-burger {
    @apply w-14 h-14 bg-white/10 inline-flex items-center justify-center;
  }
}

/* Desktop navbar */
@layer components {
  .navbar {
    @apply hidden lg:flex items-center bg-dark-200 text-white px-10 h-[70px] sticky top-0 z-20;
  }

  .navbar-logo img {
    @apply w-32;
  }

  .navbar-nav {
    @apply flex relative  self-stretch items-center ml-6;
  }

  .navbar-dropdown {
    @apply flex items-center p-3 relative transition-colors;
  }

  .navbar-dropdown.active {
    @apply text-primary;
  }

  .navbar-dropdown.active::after {
    @apply bg-white;
  }

  .navbar-dropdown::after {
    content: '';
    @apply absolute left-0 w-full -bottom-3 h-14 rounded-tl rounded-tr transition-colors duration-300 -z-10;
  }

  .navbar-dropdown.active .navbar-chevron {
    @apply rotate-180;
  }

  .navbar-dropdown.active + .navbar-sub {
    @apply opacity-100 visible;
  }

  .navbar-chevron {
    @apply text-xs ml-2;
  }

  .navbar-sub {
    @apply opacity-0 invisible transition-all duration-300 absolute left-0 top-full w-56;
    @apply bg-white text-black rounded-bl rounded-br shadow-md overflow-hidden py-1;
  }

  .navbar-link {
    @apply flex items-center hover:bg-primary-300 transition-colors py-0.5;
  }
}

/* Footer */
@layer components {
  .footer {
    @apply bg-dark-200 py-8 lg:py-10 text-sm;
  }

  .footer-social {
    @apply inline-flex gap-4;
  }

  .footer-social-link {
    @apply inline-block w-10 h-10 rounded-full border border-gray-200 p-2.5;
  }
}

/* Mobile accordion */
@layer components {
  .acc-mobile {
    @apply shadow-sm bg-white rounded overflow-hidden text-sm;
  }

  .acc-mobile-dropdown {
    @apply flex items-center relative w-full p-3;
  }

  .acc-mobile-icon-wrapper {
    @apply w-10 h-10 inline-flex items-center justify-center bg-primary-400 rounded-full;
  }

  .acc-mobile-chevron {
    @apply inline-flex items-center justify-center w-6 h-6 rounded-full absolute right-3;
  }

  .acc-mobile-content {
    @apply overflow-hidden transition-all duration-300 px-5 h-0;
  }

  /* Active state */
  .acc-mobile.active .acc-mobile-chevron {
    @apply rotate-180;
  }
}

/* Desktop tabs */
@layer components {
  .tabs-wrapper {
    @apply relative h-[100px] shadow rounded-md;
    transform: translateZ(0);
  }
  .tabs {
    @apply bg-white absolute left-0 top-0 w-full h-full flex rounded-md;
    @apply transition-all duration-200 -translate-x-20  opacity-0;
  }

  .tabs:nth-child(2) {
    @apply translate-x-20;
  }

  .tabs.active {
    @apply opacity-100 translate-x-0 z-10;
  }

  .tab {
    @apply h-full flex-1 hover:bg-primary hover:text-white transition-all relative;
    @apply px-2 text-sm flex flex-col items-center justify-center;
  }

  .tab-control {
    @apply bg-white hover:bg-white;
  }

  #next-tab {
    @apply border-l border-gray-200;
  }

  #prev-tab {
    @apply border-r border-gray-200;
  }

  .tab-icon {
    @apply inline-flex items-center justify-center w-12 h-12 bg-primary-400 rounded-full text-primary transition-all;
  }

  .tab:hover .tab-icon,
  .tab.active .tab-icon {
    @apply bg-primary text-white;
  }

  .tab.active {
    @apply bg-primary text-white;
  }

  .tab.active::after {
    content: '';
    position: absolute;
    bottom: -14px;
    left: 53%;
    margin-left: -10px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #08c177;
    transform: rotate(180deg);
  }

  .tabs > *:first-child {
    @apply rounded-tl-md rounded-bl-md;
  }

  .tabs > *:last-child {
    @apply rounded-tr-md rounded-br-md;
  }

  .tabs-content {
    @apply pt-14 px-6;
  }

  .tab-content {
    /* @apply hidden; */
    @apply grid grid-cols-2 gap-16;
  }
}

/* Modal */
@layer components {
  .modal {
    @apply bg-black/20 flex items-center justify-center fixed left-0 top-0 w-full h-screen z-50 invisible opacity-0 p-4;
  }

  .modal-content {
    @apply relative w-full aspect-video max-w-xl;
  }

  .modal-close-btn {
    @apply absolute -top-4 -right-4 w-8 h-8 rounded-full bg-white text-dark-200 text-xl inline-flex items-center justify-center;
  }
}
