@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply scroll-smooth;
  }

  body {
    @apply text-dark-100 antialiased;
  }

  strong {
    @apply font-bold text-dark-200;
  }

  .preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
  }

  a {
    @apply transition-colors duration-200;
  }
  /* 
  .prose * {
    @apply text-dark-100;
  }

  .prose h1 {
    @apply text-3xl md:text-[44px] leading-snug;
  }

  .prose * {
    @apply md:text-lg;
  }

  .prose h2 {
    @apply mt-10 md:mt-14 mb-5 md:mb-11 text-2xl md:text-[34px] leading-snug relative;
  }

  .prose h2:before {
    content: '';

    @apply absolute left-0 -top-5 w-32 h-1.5 bg-primary;
  }

  .prose p a {
    @apply no-underline text-secondary hover:text-secondary-200;
  }

  .prose a {
    @apply no-underline;
  } */

  .debt-content > * + * {
    @apply mt-6;
  }

  .debt-content {
    @apply text-lg;
  }

  .debt-content a {
    @apply text-secondary hover:text-secondary-200;
  }

  .debt-content h2 {
    @apply mt-10 md:mt-14 mb-5 md:mb-11 text-2xl md:text-[34px] leading-snug relative text-dark-200;
  }

  .debt-content h2:before {
    content: '';
    @apply absolute left-0 -top-5 w-32 h-1.5 bg-primary;
  }

  .debt-content h3 {
    @apply my-5 md:mt-10 text-lg md:text-2xl text-dark-200 font-bold;
  }

  .debt-content ul {
    @apply list-disc pl-6 space-y-3 text-base;
  }
}

/* Typography */
@layer base {
  .heading-primary {
    @apply text-dark-200 text-2xl lg:text-[40px] leading-snug;
  }

  .heading-secondary {
    @apply text-dark-200 font-bold text-2xl md:text-3xl;
  }
}

/* Section layout */
@layer base {
  .section {
    @apply py-8 lg:py-16;
  }
}

/* Buttons, Forms */
@layer components {
  .btn {
    @apply inline-flex justify-center items-center rounded border border-transparent bg-secondary px-3 py-1 lg:px-6 lg:py-3 text-base text-white shadow-sm hover:bg-secondary-200 transition-colors focus:outline-none focus:ring-2 focus:ring-secondary focus:ring-offset-2 h-9 lg:h-12 font-bold whitespace-nowrap;
  }

  .btn.btn-danger {
    @apply bg-danger hover:bg-danger-200 focus:ring-danger;
  }

  .btn.btn-outline {
    @apply bg-transparent text-secondary border-2 border-secondary hover:bg-secondary-200 hover:text-white hover:border-secondary-200;
  }

  .select {
    @apply block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-secondary focus:outline-none focus:ring-secondary sm:text-sm h-9 lg:h-12;
  }

  .input {
    @apply block w-full rounded-md border-gray-300 pl-10 focus:border-secondary focus:ring-secondary sm:text-sm h-9 lg:h-12;
  }
}

/* Mobile navbar */
@layer components {
  .navbar-active {
    overflow: hidden !important;
  }

  .navbar-mobile {
    @apply sticky top-0 bg-dark-200 text-white flex items-center justify-between h-14 z-10 lg:hidden;
    font-size: 15px;
  }

  .navbar-mobile-content {
    @apply absolute top-14 left-0 w-full max-w-xs bg-dark-200 h-[calc(100vh-56px)] overflow-auto py-6;
    @apply -translate-x-full will-change-auto transition-transform duration-300 ease-out flex flex-col;
    @apply shadow-xl;
  }

  .navbar-active .navbar-mobile-content {
    @apply translate-x-0;
  }

  .navbar-mobile-dropdown {
    @apply relative flex w-full items-center px-5 py-2;
  }

  .navbar-mobile-chevron {
    @apply absolute right-5 top-1/2 -translate-y-1/2;
  }

  .navbar-mobile-dropdown.active + .navbar-mobile-sub {
    @apply block;
  }

  .navbar-mobile-dropdown.active .navbar-mobile-chevron {
    @apply rotate-180;
  }

  .navbar-mobile-sub {
    @apply hidden bg-dark-300 py-3;
  }

  .navbar-mobile-link {
    @apply py-3 block pl-12 hover:text-primary;
  }

  .navbar-mobile-burger {
    @apply w-14 h-14 bg-white/10 inline-flex items-center justify-center;
  }
}

/* Desktop navbar */
@layer components {
  .navbar {
    @apply hidden lg:flex items-center bg-dark-200 text-white px-10 h-[70px] sticky top-0 z-20;
  }

  .navbar-logo img {
    @apply w-32;
  }

  .navbar-nav {
    @apply flex relative  self-stretch items-center ml-6;
  }

  .navbar-dropdown {
    @apply flex items-center p-3 relative transition-colors;
  }

  .navbar-dropdown.active {
    @apply text-primary;
  }

  .navbar-dropdown.active::after {
    @apply bg-white;
  }

  .navbar-dropdown::after {
    content: '';
    @apply absolute left-0 w-full -bottom-3 h-14 rounded-tl rounded-tr transition-colors duration-300 -z-10;
  }

  .navbar-dropdown.active .navbar-chevron {
    @apply rotate-180;
  }

  .navbar-dropdown.active + .navbar-sub {
    @apply opacity-100 visible;
  }

  .navbar-chevron {
    @apply text-xs ml-2;
  }

  .navbar-sub {
    @apply opacity-0 invisible transition-all duration-300 absolute left-0 top-full w-56;
    @apply bg-white text-black rounded-bl rounded-br shadow-md overflow-hidden py-1;
  }

  .navbar-link {
    @apply flex items-center hover:bg-primary-300 transition-colors py-0.5;
  }
}

/* Footer */
@layer components {
  .footer {
    @apply bg-dark-200 py-8 lg:py-10 text-sm;
  }

  .footer-social {
    @apply inline-flex gap-4;
  }

  .footer-social-link {
    @apply inline-block w-10 h-10 rounded-full border border-gray-200 p-2.5;
  }
}

/* Mobile accordion */
@layer components {
  .acc-mobile {
    @apply shadow-sm bg-white rounded overflow-hidden text-sm;
  }

  .acc-mobile-dropdown {
    @apply flex items-center relative w-full p-3;
  }

  .acc-mobile-icon-wrapper {
    @apply w-10 h-10 inline-flex items-center justify-center bg-primary-400 rounded-full;
  }

  .acc-mobile-chevron {
    @apply inline-flex items-center justify-center w-6 h-6 rounded-full absolute right-3;
  }

  .acc-mobile-content {
    @apply overflow-hidden transition-all duration-300 px-5 h-0;
  }

  /* Active state */
  .acc-mobile.active .acc-mobile-chevron {
    @apply rotate-180;
  }
}

/* Desktop tabs */
@layer components {
  .tabs-wrapper {
    @apply relative h-[100px] shadow rounded-md;
    transform: translateZ(0);
  }
  .tabs {
    @apply bg-white absolute left-0 top-0 w-full h-full flex rounded-md;
    @apply transition-all duration-200 -translate-x-20  opacity-0;
  }

  .tabs:nth-child(2) {
    @apply translate-x-20;
  }

  .tabs.active {
    @apply opacity-100 translate-x-0 z-10;
  }

  .tab {
    @apply h-full flex-1 hover:bg-primary hover:text-white transition-all relative;
    @apply px-2 text-sm flex flex-col items-center justify-center;
  }

  .tab-control {
    @apply bg-white hover:bg-white;
  }

  #next-tab {
    @apply border-l border-gray-200;
  }

  #prev-tab {
    @apply border-r border-gray-200;
  }

  .tab-icon {
    @apply inline-flex items-center justify-center w-12 h-12 bg-primary-400 rounded-full text-primary transition-all;
  }

  .tab:hover .tab-icon,
  .tab.active .tab-icon {
    @apply bg-primary text-white;
  }

  .tab.active {
    @apply bg-primary text-white;
  }

  .tab.active::after {
    content: '';
    position: absolute;
    bottom: -14px;
    left: 53%;
    margin-left: -10px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #08c177;
    transform: rotate(180deg);
  }

  .tabs > *:first-child {
    @apply rounded-tl-md rounded-bl-md;
  }

  .tabs > *:last-child {
    @apply rounded-tr-md rounded-br-md;
  }

  .tabs-content {
    @apply pt-14 px-6;
  }

  .tab-content {
    /* @apply hidden; */
    @apply grid grid-cols-2 gap-16;
  }
}

/* Modal */
@layer components {
  .modal {
    @apply bg-black/20 flex items-center justify-center fixed left-0 top-0 w-full h-screen z-50 invisible opacity-0 p-4;
  }

  .modal-content {
    @apply relative w-full aspect-video max-w-xl;
  }

  .modal-close-btn {
    @apply absolute -top-4 -right-4 w-8 h-8 rounded-full bg-white text-dark-200 text-xl inline-flex items-center justify-center;
  }
}

/* List ordered */
@layer components {
  .list-ordered {
    @apply space-y-12;
  }

  .list-ordered-item {
    @apply flex flex-col md:flex-row items-center gap-4 text-center md:text-left md:items-start;
  }

  .list-ordered-num {
    @apply w-8 h-8 border-2 border-primary bg-primary-300 rounded-full inline-flex items-center justify-center text-primary flex-shrink-0 font-bold;
  }
}

/* Rate card */
@layer components {
  .rate-card {
    @apply bg-white rounded shadow-md inline-block p-5 pl-10 sm:min-w-[200px] relative sm:min-h-[166px];
    box-shadow: 0 2px 7px 0 rgb(0 0 0 / 13%);
  }

  .rate-card-heading {
    @apply text-sm font-bold md:text-[17px] mb-0.5 text-dark-200;
  }

  .rate-card-percent {
    @apply font-bold text-[35px] text-dark-200;
  }

  .rate-card-line {
    @apply absolute w-1 h-9 rounded bg-neutral-500 left-5 top-[17];
  }
}

/* Card */
@layer components {
  .cards-wrapper {
    @apply p-8 pb-0 xl:pb-8 bg-primary grid xl:grid-cols-2 lg:rounded-lg gap-8 mt-6 relative max-w-[1168px] mx-auto;
  }

  .card {
    @apply rounded bg-white p-5 inline-block lg:text-center transition-transform hover:scale-110 duration-200;
    @apply flex items-center lg:flex-col gap-5;
    box-shadow: 2px 22px 44px #1b9b68;
  }

  .card-icon {
    @apply text-primary text-5xl lg:text-3xl;
  }

  .card-link {
    @apply mt-2 lg:mt-5 text-sm text-secondary hidden md:inline-block;
  }
}

/* News card */
@layer components {
  .news-card {
    @apply inline-flex items-center gap-4;
  }

  .news-card-img {
    @apply w-[160px] h-[112px] rounded-md overflow-hidden object-cover hidden md:block flex-shrink-0;
  }

  .news-card-tag {
    @apply text-xs text-primary font-bold uppercase;
  }

  .news-card-heading {
    @apply text-lg font-bold text-dark-200;
  }
}

/* Hand write */
@layer components {
  .hand-write {
    @apply text-[26px] text-white font-hand w-64 h-12 bg-no-repeat flex items-center justify-start;
  }

  .hand-write-arrow {
    @apply inline-block bg-no-repeat bg-center bg-contain -translate-y-6;
    width: 56px;
    height: 36px;
    background-image: url(../img/callout-arrow-mobile.svg);
  }

  @screen lg {
    .hand-write-arrow {
      background-image: url(../img/callout-arrow-desktop-white.svg);
    }
  }
}

/* Tooltip */
@layer components {
  .tooltip {
    @apply relative cursor-pointer inline-block;
  }

  .tooltip-text {
    @apply hidden w-52 md:w-80 bg-white rounded-md absolute top-full left-0 text-left py-2 px-3 translate-y-3 text-xs;
    box-shadow: rgba(0, 0, 0, 0.6) 0 0 4px 0;
  }

  .tooltip-text::before {
    content: '';
    position: absolute;
    bottom: 100%;
    left: 20%;
    margin-left: -10px;
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #fff;
    filter: drop-shadow(1px 1px 3px rgba(0, 0, 0, 0.6));
    z-index: -1;
  }

  .tooltip-text::after {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 6px;
    content: '';
    background-color: inherit;
    position: absolute;
    z-index: -1;
  }
}

/* Article card */
@layer components {
  .article {
    @apply relative;
  }

  .article-link {
    @apply absolute inset-0 block;
  }

  .article-info {
    @apply py-4 md:p-4 bg-white md:-mt-16 relative md:mx-5;
  }

  .article-label {
    @apply text-primary text-sm font-bold mb-1 hidden md:block;
  }

  .article-heading {
    @apply text-2xl text-dark-200;
  }

  .article-author {
    @apply items-center mt-2.5 hidden md:flex;
  }

  .article-author-img {
    @apply w-10 h-10 rounded-full overflow-hidden object-cover;
  }

  .article-author-text {
    @apply text-neutral-500 font-bold ml-3;
  }
}

/* Lists */
@layer components {
  ul.checklist,
  ul.X-list {
    @apply space-y-6;
  }
  ul.checklist li,
  ul.X-list li {
    @apply relative pl-8;
  }

  ul.checklist li::before,
  ul.X-list li:before {
    font-family: 'icon';
    display: inline-block;
    font-size: 1.5em;
    line-height: 0;
    color: #08c177;
    content: '';

    @apply absolute left-0 top-3 w-6;
  }

  ul.X-list li:before {
    color: #d93551;
    content: '';
  }
}

/* Ordered list */
@layer components {
  .ordered-list li {
    counter-increment: step-counter;
    @apply relative pl-14;
  }

  .ordered-list li::before {
    content: counter(step-counter);
    @apply w-10 h-10 inline-flex items-center justify-center border-2 border-primary rounded-full absolute left-0;
  }
}

/* Accordion */
@layer components {
  .accordion__item {
    @apply border-y border-gray-200 -mt-px focus:border-b focus:border-green-400;
  }

  .accordion__heading {
    @apply py-5 cursor-pointer relative font-bold uppercase text-secondary pl-6;
  }

  .accordion__heading::before {
    content: '+';
    @apply absolute top-1/2 -translate-y-1/2 left-0 text-xl font-bold;
  }

  .accordion__item.is-open .accordion__heading::before {
    content: '-';
  }

  .accordion__body {
    @apply px-6 transition-all max-h-0 overflow-hidden space-y-4;
  }

  .accordion__body a {
    @apply text-secondary hover:text-secondary-200;
  }
}

/* Article nav (lightgreen) */
/* @layer components {
  .article-nav {
    @apply p-5 shadow bg-green-100/80 rounded space-y-2;
  }
} */

/* toc-list */
@layer components {
  .toc-list {
    @apply space-y-1;
  }
  .toc-list li a {
    @apply py-2 inline-block text-secondary relative text-lg md:pl-4;
  }

  .toc-list li a::before {
    content: '';
    @apply absolute left-0 top-0 h-full bg-secondary w-1 hidden md:block opacity-0 will-change-auto transition-opacity;
  }

  .toc-list li a:hover:before {
    @apply opacity-100;
  }
}

/* BLOG PAGE */
.news-heading {
  @apply text-[22px] md:text-[27px] text-dark-200 relative;
}

.news-heading span {
  @apply bg-white;
}

.news-heading::after {
  content: '';
  @apply h-px bg-gray-200 absolute left-0 w-full top-1/2  -z-10;
}

/* _featured blog */
.featured-blog {
  @apply flex items-center relative;
}

.featured-blog-img {
  @apply w-[70px] h-[70px] object-cover md:w-[700px] md:h-[400px] flex-shrink-0;
}

.featured-blog-label {
  @apply text-xs md:text-lg text-primary font-bold md:mb-2;
}

.featured-blog-heading {
  @apply md:text-[40px] font-georgia text-dark-200 hover:text-primary !leading-snug md:mb-4 inline-block;
}

.featured-blog-text {
  @apply hidden md:block text-[17px] mt-4 pt-4 relative;
}

.featured-blog-text::before {
  content: '';
  @apply absolute h-0.5 bg-primary top-0 w-64 left-0;
}

.featured-blog-details {
  @apply text-[10px] md:text-[15px];
}

.featured-blog-content {
  @apply pl-2.5 md:absolute bg-white md:w-[80%] md:p-8 right-0 top-[50px] lg:w-[55%] md:min-h-[400px];
}

.featured-blog-text a {
  @apply text-secondary hover:text-secondary-200;
}

/* _featured blog */
.blog-card {
  @apply flex items-center md:items-start relative;
}

.blog-card-img {
  @apply w-[70px] h-[70px] object-cover md:w-[250px] md:h-[250px] flex-shrink-0 xl:w-[300px];
}

.blog-card-label {
  @apply text-xs md:text-lg text-primary font-bold md:mb-2;
}

.blog-card-heading {
  @apply md:text-[27px] font-georgia text-dark-200 hover:text-primary !leading-snug md:mb-4 inline-block;
}

.blog-card-text {
  @apply hidden md:block text-[17px] mt-4 pt-4 relative;
}

.blog-card-text::before {
  content: '';
  @apply absolute h-0.5 bg-primary top-0 w-64 left-0;
}

.blog-card-details {
  @apply text-[10px] md:text-[15px];
}

.blog-card-content {
  @apply pl-2.5 bg-white md:p-8 md:w-[70%] md:-ml-20 md:mt-4 lg:-ml-10;
}

.blog-card-text a {
  @apply text-secondary hover:text-secondary-200;
}

/* PAGINATION */
.pagination {
  @apply flex;
}

.pagination a.active {
  @apply text-dark-200 border-b-2 border-primary;
}

.pagination a {
  @apply text-secondary hover:text-secondary-200 p-2;
}

/* DATA CONTENT */

.data-content {
  @apply overflow-hidden;
}

.data-content h2 {
  @apply text-2xl md:text-4xl font-georgia text-dark-200 mb-[1em];
}

.data-content p {
  @apply mb-[1em] leading-normal;
}

.data-content a {
  @apply text-secondary hover:text-secondary-200;
}

.data-content ol {
  @apply pl-5 mb-3 list-decimal;
}

.data-content li {
  @apply pb-4;
}

.helpful-links a {
  @apply leading-8;
}
